// styles.css
* {
	margin: 0;
	padding: 0;
}

body{
	background: lightblue;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	width: 90%;
	border-collapse: collapse;
	margin: 0 auto; /* center table */
	border: 1px solid black;
}

th {
	font-weight: bold;
	padding: 5px;
	background-color: #b3b3ff;
	color: white;
	text-align: left;
	font-size: 1.5em;
}

th, td {
	/*border: 1px solid black; */
	word-wrap: break-word; /* word wrapping */
	padding: 0 5px;
	font-size: 1.5em;
}

tr:nth-child(even) { /* table stripes, default is white */
	background-color: rgba(0, 0, 0, 0.05);
}

td:first-child { /* Select all left hand cells */
	width: 180px;
	/*border-right: 2px solid #b3b3ff;*/
	font-weight: bold;
}

#cities{
	margin: 15px auto; /* center table*/
	border: 1px solid black;
}

.wicon { /* Weather icon */
	width: 40px;
	height: 40px;
}
